ul li {
  cursor: pointer;
  font-weight: 600;
}
.nav-link-hover li svg {
  @apply hover:text-custom-secondary hover:scale-105 transition-all duration-300;
}
/* nav ul li svg:hover,
nav ul li:hover {
 transform: scale(1.05);
  transition: transform 0.3s ease; 
 @apply scale-105 transition-all duration-300 text-custom-secondary;  
 } */
.nav-lg-screen-cl {
  @apply md:flex md:justify-center md:items-center md:gap-2;
}

.nav-mobile-cl {
  @apply absolute bg-custom-primary flex flex-col gap-2 pt-6  px-6 h-[100vh]  w-[30vw];
}
